<!doctype html>
<html lang='en'>

<head>
    <title>Week 5 Examples</title>
    <meta charset='utf-8'>
    <link href=data:, rel=icon>

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>

    <script src='script.js' defer></script>


    <style>
        [v-cloak] {
            display: none
        }

        img {
            width: 75px;
            display: block;
        }

        .error {
            color: red;
        }

        .feedback {
            font-weight: bold;
        }

        div {
            margin-bottom: 10px;
            padding: 5px 0;
        }

        ul {
            list-style-type: none;
        }
    </style>

</head>

<body>

    <h1>Week 5 Examples</h1>

    <div id='app' v-cloak>

        <!-- 
            Example demonstrating computed properties to format a phone number
        <input type='text' v-model='phoneNumber'>
        {{ displayPhoneNumber }}
        -->

        <div>
            Choose your difficulty level:
            <select v-model='difficultyLevel'>
                <option value=''>Choose one...</option>
                <option value='easy'>Easy</option>
                <option value='medium'>Medium</option>
                <option value='hard'>Hard</option>
            </select>
        </div>

        <!-- As an alternative to a dropdown, we could get the difficulty level via radio buttons:
            <label><input type='radio' value='easy' v-model='difficultyLevel'> Easy</label>
            <label><input type='radio' value='medium' v-model='difficultyLevel'> Medium</label>
            <label><input type='radio' value='hard' v-model='difficultyLevel'> Hard</label>
        -->

        <div v-if='difficultyLevel'>
            <label for='answer'>What is {{ randomNumber1 }} + {{ randomNumber2 }}?</label>
            <input type='text' id='answer' v-model.number.trim='answer'>

            <div id='hint'>
                <input type='checkbox' id='showHint' v-model='showHint'>
                <label for='showHint'>Show hint?</label>

                <div v-if='showHint'>
                    Count the stars: <span v-for='x in randomNumber1 + randomNumber2'> * </span>
                </div>
            </div>

            <div>
                <p>Which of the following statements about the answer is true?</p>
                <ul>
                    <li><label>
                            <input type='checkbox' value='oddNumber' v-model='statements'>
                            The answer is an odd number.
                        </label>

                    <li><label>
                            <input type='checkbox' value='greaterThan10' v-model='statements'>
                            The answer is greater than 10.
                        </label>

                    <li><label>
                            <input type='checkbox' value='divisibleBy3' v-model='statements'>
                            The answer is evenly divisible by 3.
                        </label>
                </ul>
            </div>

            <button v-on:click='submitAnswer'>Submit Answer</button>

            <div id='feedback'>
                <img v-if='imageSource' :src='"images/" + imageSource + ".png"' :alt='imageAlt'>

                <div v-bind:class='{ error : !correct }' class='feedback'>{{ feedback }}</div>
            </div>


            <p>I’m thinking of a number between 1 and 10. What do you think it is?</p>
            <input type='text' v-model='guess'>
            <button @click='guesses.push(guess); guess = null'>Guess</button>
            <div v-if='guesses.length > 0'>
                Low guesses:
                <ul>
                    <li v-for='thisGuess in guesses' v-if='thisGuess < secretNumber'>{{ thisGuess }}</li>
                </ul>

                High guesses:
                <ul>
                    <li v-for='thisGuess in highGuesses'>{{ thisGuess }}</li>
                </ul>
            </div>

        </div>
    </div>

</body>

</html>